{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
      <div class="media-body">
      <div class="article-metadata">
          <a class="mr-2" href="#">Michael Hans</a>
          <small class="text-muted">Selasa, 21 April 2020</small>
      </div>
      <h2><a class="article-title" href="#">Sthyrelest Data Extractor</a></h2>
        <p class="article-content">
          <form action="#", method="post">
            <label for="myfile[]"><b>Pilih file-file yang ingin diextract:</b></label><br>
            <input type="file" id="myfile[]" name="myfile" multiple><br><br>
            <label for="keyword"><b>Keyword:</b></label><br>
            <input type="text" id="keyword" name="keyword"><br><br>
            <label for="method"><b>Pilih metode pattern matching yang diinginkan:</b></label><br>
            <input type="radio" id="patternbm" name="matchmethod" value="Algoritma Boyers-Moore">
            <label for="patternbm">Algoritma Boyers-Moore</label><br>
            <input type="radio" id="patternkmp" name="matchmethod" value="Algoritma Knuth-Morris-Pratt">
            <label for="patternkmp">Algoritma Knuth–Morris–Pratt</label><br>
            <input type="radio" id="regex" name="matchmethod" value="Regular Expression">
            <label for="regex">Regular Expression</label><br><br>
            <input type="submit" value="Extract"><br>
          </form>
        </p>
      </div>
    </article>
{% endblock content %}
