{% extends "layout.html" %}
{% block content %}
    <h1>How to Use</h1>
    <ol>
    <br>
    <li>Pilih file-file yang ingin diekstrak datanya.<br><br></li>
    <li>Pastikan bahwa file-file tersebut bertipe text dan berada pada directory ./test<br><br></li>
    <li>Anda bisa memilih satu atau lebih file yang ingin diextract<br><br></li>
       Untuk memilih file lebih dari satu, gunakan Ctrl + Click saat memilih file<br><br></li>
    <li>Pilih salah satu dari tiga metode yang disediakan, yaitu:<br><br></li>
    - Algoritma Boyers-Moore<br>
    - Algoritma Knutt-Morris-Pratt<br>
    - Regular Expression<br><br>
    <li>Tekan tombol Extract untuk memulai pengekstrakan<br><br></li>
    <li>Untuk melakukan pengekstrakan kembali, tekan tombol Home untuk kembali ke Menu Awal<br><br></li>
    </ol>
{% endblock content %}